md-card.ala-post-card {
  padding: 0.6em;
  background: white;

  div.ala-post-image {
    background-image: url('../../assets/images/aladin.png');
    background-size: cover;

    &.mat-card-avatar {
      width: 60px;
      height: 60px;
    }
  }

  span.ala-post-date {
    position: absolute;
    top: 0.9em;
    right: 6rem;

    font-size: 0.9em;
    color: gray;
  }

  p.ala-post-text {
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 2em;
    right: 6rem;
  }

}
