md-card.ala-post-card {
  padding: 0.6em;
  background: white;

  div.ala-post-image-holder {
    display: inline-block;
    overflow: hidden;
    width: 4em;
    height: 4em;

    border: 1px solid black;
    border-radius: 50em;

    img.ala-post-image {
        margin-left: 0.2em;
        width: 3.6em;
        border-radius: 50em;
    }

  }

  p.ala-post-text {
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 6em;
  }

}
