<section class="ala-creation-dialog">
  <div class="ala-backdrop"></div>
  
  <section class="ala-dialog">

    <h1 class="ala-dialog-title">בקשה חדשה</h1>

    <form class="ala-dialog-form">
      <table>
        <tr>
          <md-input-container class="ala-dialog-help">
            <input mdInput name="help" placeholder="במה את צריך עזרה?" [(ngModel)]="postCreationData.help">
          </md-input-container> 
        </tr>
        <tr>
          <md-input-container class="ala-dialog-suggestion">
            <input mdInput name="suggestion" placeholder="במה את מוכן לעזור?"  [(ngModel)]="postCreationData.suggestion">
          </md-input-container>
        </tr>          
        <tr>
          <md-input-container class="ala-dialog-categories">
            <input mdInput name="tags" placeholder="הכנס בבקשה את קטגוריות הבקשה עם פסיקים ביניהם"  [(ngModel)]="tags">
          </md-input-container>
        </tr>
      </table>

    </form>

    <button class="ala-dialog-create-button" md-button (click)="closeCreationDialog()">בטל</button>
    <button class="ala-dialog-create-button" md-button (click)="finishCreationDialog()">סיים</button>
  
</section>
