<section id="ala-profile-info"> 

  <div id="ala-profile">
    <md-card>
      <div>
        <img src="../../assets/aladin.jpg" id="ala-profile-image"/>
      </div>
      <div>
      <span id="ala-profile-name">meir</span>
      </div>
      <div>
        <md-list id="ala-my-posts" *ngIf="myPosts">
          <md-list-item *ngFor="let post of myPosts"> 
            <ala-post [request]="post"></ala-post>
          </md-list-item>
        </md-list>
      </div>
    </md-card>
  </div>

</section>
