<section id="ala-profile-info"> 

    <md-card id="ala-profile" *ngIf="user">
      <md-card-header>
        <div md-card-avatar class="ala-profile-image"></div>
        <div id="ala-profile-data">
          <md-card-title id="ala-profile-name">{{user.displayName}}</md-card-title>
          <md-card-subtitle>בסיס</md-card-subtitle>
          <span>כישורים:</span>
          <ul id="ala-profile-data-skills">
            <li>ללמד פייתון</li>
            <li>ללמד נגינה</li>
            <li>לנגן במשרה</li>
          </ul>
        </div>
      </md-card-header>
      <md-card-content>
        <div>
          <md-list id="ala-my-posts" *ngIf="myPosts">
            <md-list-item *ngFor="let post of myPosts"> 
              <ala-post [request]="post"></ala-post>
            </md-list-item>
          </md-list>
        </div>
      </md-card-content>
    </md-card>

</section>
