section#ala-post-feed {
    
    div#ala-posts {
        
        md-list#ala-post-list {
            width: 90%;
            margin-right: 1em;

            div[md-list-item] {
                margin: 1em 0;
            }

        }

    }

}