

<section id="ala-post-feed"> 

  <section id="ala-post-feed-view" class="flex-container" fxLayout="row wrap">

  <div id="ala-posts" class="flex-item" fxFlex="50%">

      <md-list id="ala-post-list" *ngIf="requests">
        <h2 id="ala-post-list-title">בקשות:</h2>
        <div md-list-item class="ala-post" *ngFor="let request of requests"> 
          <ala-post [post]="request" (click)="selectRequest($event, request)"></ala-post>
        </div> 
      </md-list>
      
  </div>

  <div id="ala-replies" class="flex-item" fxFlex="50%">
      
      <md-list id="ala-reply-list" *ngIf="selectedRequest">
        <h2 id="ala-reply-list-title">הצעות:</h2>
        <div md-list-item class="ala-reply" *ngFor="let reply of selectedRequest.replies"> 
          <ala-post [post]="reply" (completeRequestEvent)="completeRequest($event)"></ala-post>
        </div> 
      </md-list>

  </div>

  </section>

  <section id="ala-post-feed-create" class="flex-container" fxLayout="row wrap">
    <button id="ala-post-feed-create-button" md-button (click)="openCreationDialog()">צור בקשה</button>
    <ala-creation-dialog [hidden]="!showCreationDialog"  [@dialogAnimation]="!showCreationDialog" (postCreationEvent)="postCreationData($event)" (closeCreationEvent)="closeCreationDialog($event)"></ala-creation-dialog>
  </section>
</section>
